header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background-color: #eee;
	box-shadow: 0 2px 2px 2px #ccc;
	color: #333;
}

.logo {
	width: 250px;
	height: 100%;
	color: #888;
	text-align: center;
	text-shadow: 1px 1px 1px #aaa;
	font-size: 30px;
	padding: 5px 10px;
	@media screen and (max-width: 768px) {
		margin: 0 auto;
	}
	& > a {
		color: #f50;
		&:hover {
			text-decoration: none;
			color: #333;
		}
	}
}

.navbar-inner {
	float: right;
	max-width: 60%;
	height: 100%;
}

.dropdown-menu {
	display: block;
}

.hidden {
	display: none;
}