// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	display: block;
	margin: auto;
	& > input {
		width: 250px;
		display: block;
		margin: 0 auto 20px auto;
		text-align: center;
	}
	& > label {
		width: 250px;
		display: block;
		margin: auto;
		text-align: center;
	}
	& > input[name="commit"] {
		margin-top: 30px;
		background-color: #f50;
		color: #fff;
		height: 2.2em;
		border: none;
		border-radius: 5px;
	}
}

form.invite {
	display: inline;
	& > input {
		width: 250px;
		display: inline;
		text-align: center;
	}
	
	& > input[name="commit"] {
		background-color: #f50;
		color: #fff;
		height: 2.2em;
		border: none;
		border-radius: 5px;
	}
}

strong, .strong {
	font-weight: bold;
	color: #f50;
}

.created {
	box-shadow: 2px 2px 2px 2px #fa7;
}